window#waybar {
    background-color: rgba(0, 0, 0, 1);
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 0px 0px;
    margin: 0px;
    border: none;
}

#workspaces {
    color: rgb(255, 255, 255);
    padding: 0px 0px;
    margin-left: 10px;
    border: none;
}

#workspaces button.active {
    color: rgb(255, 41, 64);
}

#workspaces button {
    color: rgb(255, 255, 255);
    padding: 0px 0px;
    margin-left: 5px;
    border: none;
}

#workspaces .taskbar-window {
    padding: 0px 0px;
    margin: 0px;
    border: none;
}

#taskbar {
    color: rgb(255, 255, 255);
    padding: 0px 0px;
    margin-left: 5px;
    border: none;
}

#taskbar button {
    color: rgb(255, 255, 255);
    padding: 0px 0px;
    margin-left: 5px;
    border: none;
}

#window {
    padding: 0px 0px;
    margin: 0px;
    border: none;
}

#clock {
    padding: 0px 0px;
    margin-right: 10px;
    border: none;
}

#cpu {
    padding: 0px 0px;
    margin-right: 5px;
    border: none;
}

#memory {
    padding: 0px 0px;
    margin-right: 5px;
    border: none;
}

#gamemode {
    padding: 0px 0px;
    margin-right: 5px;
    border: none;
}

#pulseaudio {
    padding: 0px 0px;
    margin-right: 5px;
    border: none;
}

#network {
    padding: 0px 0px;
    margin-right: 5px;
    border: none;
}

#tray {
    padding: 0px 0px;
    margin-right: 5px;
    border: none;
    color: rgb(255, 255, 255);
}
